@import "../variables.scss";

.quiz-result-card-parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-result-card {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  word-wrap: break-word;
  width: 50%;
  max-width: 920px;
  display: flex;
  flex-direction: column;
}

.quiz-result-card-info {
  display: flex;
  margin-bottom: 40px;
}

.quiz-result-card-info-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.quiz-result-card-quiz-name {
  font-size: 20px;
  font-weight: 900;
}

.quiz-result-card-cs {
  font-size: 15px;
}

.quiz-result-card-info-right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-result-card-percent {
  width: fit-content;
  font-size: 50px;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}

.quiz-result-card-toggle-results {
  border-radius: 10px;
  width: 100%;
  padding: 10px 0 10px 0;
  font-size: 20px;
  background-color: $light-blue;
  border: 3px solid $light-blue;
  color: white;
}

.quiz-result-card-toggle-results:hover {
  color: $light-blue;
  background-color: white;
}

.question-results-container {
  display: flex;
  row-gap: 50px;
  flex-direction: column;
  margin-top: 50px;
}

.question-results-container>div {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.qrc-question-result-question {
  font-size: 15px;
  font-weight: 900;
}

.qrc-question-options-div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.qrc-question-options-div>p {
  font-size: 15px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.qrc-foot-text {
  font-size: 15px;
  font-weight: 900;
}

@media only screen and (max-width: 1200px) {
  .quiz-result-card {
    width: 60%;
  }

  .quiz-result-card-quiz-name {
    font-size: 18px;
  }

  .quiz-result-card-percent {
    font-size: 45px;
  }

  .quiz-result-card-toggle-results {
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .quiz-result-card {
    width: 70%;
  }

  .quiz-result-card-quiz-name {
    font-size: 18px;
  }

  .quiz-result-card-percent {
    font-size: 40px;
  }

  .quiz-result-card-toggle-results {
    font-size: 17px;
  }
}

@media only screen and (max-width: 800px) {
  .quiz-result-card {
    width: 70%;
  }

  .quiz-result-card-quiz-name {
    font-size: 17px;
  }

  .quiz-result-card-cs {
    font-size: 14px;
  }

  .quiz-result-card-percent {
    font-size: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .quiz-result-card {
    width: 75%;
  }

  .quiz-result-card-quiz-name {
    font-size: 16px;
  }

  .quiz-result-card-cs {
    font-size: 14px;
  }

  .quiz-result-card-percent {
    font-size: 35px;
  }
}

@media only screen and (max-width: 600px) {
  .quiz-result-card {
    width: 80%;
  }

  .quiz-result-card-info {
    margin-bottom: 30px;
  }

  .quiz-result-card-info-left {
    row-gap: 15px;
  }

  .quiz-result-card-quiz-name {
    font-size: 15px;
  }

  .quiz-result-card-cs {
    font-size: 14px;
  }

  .quiz-result-card-percent {
    font-size: 30px;
  }

  .question-results-container>div {
    padding: 10px;
  }

  .qrc-question-result-question, .qrc-foot-text, .qrc-question-options-div>p {
    font-size: 14px;
  }

  .qrc-question-options-div>p {
    padding: 7px;
  }
}

@media only screen and (max-width: 500px) {
  .quiz-result-card {
    width: 90%;
  }

  .quiz-result-card-quiz-name {
    font-size: 14px;
  }

  .quiz-result-card-cs {
    font-size: 13px;
  }

  .quiz-result-card-percent {
    font-size: 25px;
    padding: 7px;
  }
}

@media only screen and (max-width: 400px) {
  .quiz-result-card {
    width: 95%;
  }

  .quiz-result-card-quiz-name {
    font-size: 14px;
  }

  .quiz-result-card-cs {
    font-size: 13px;
  }

  .quiz-result-card-percent {
    font-size: 20px;
    padding: 5px;
  }

  .quiz-result-card-toggle-results {
    font-size: 16px;
  }

  .qrc-question-result-question,
  .qrc-foot-text,
  .qrc-question-options-div>p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 300px) {
  .quiz-result-card {
    width: 100%;
  }

  .quiz-result-card-quiz-name {
    font-size: 13px;
  }

  .quiz-result-card-cs {
    font-size: 12px;
  }

  .quiz-result-card-percent {
    font-size: 19px;
  }

  .quiz-result-card-toggle-results {
    font-size: 15px;
  }

  .qrc-question-result-question,
  .qrc-foot-text,
  .qrc-question-options-div>p {
    font-size: 12px;
  }
}