.rating-parent-div {
  border-radius: 10px;
  padding: 20px 60px 20px 60px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: fit-content;
  max-width: 920px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.rating-card-data {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.rating-card-average {
  font-size: 40px;
}

.star {
  color: yellow;
}