.nav-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 50px 50px;
  backdrop-filter: blur(5px);
}

.nav-parent > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.nav-parent > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 850px) {
  .nav-parent > a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 750px) {
  .nav-icon {
    display: none;
  }

  .nav-parent > a {
    font-size: 14px;
    padding: 10px;
    border-radius: 0 0 0 0;
  }
}

@media only screen and (max-width: 500px) {
  .nav-parent {
    border-radius: 0 0 0 0;
  }

  .nav-parent > a {
    font-size: 13px;
    padding: 10px 5px 10px 5px;
  }
}