.pagination-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  width: fit-content;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
}

.pagination-controls > button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: white;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}

.pagination-controls > button:hover {
  border: 2px solid white;
}

#disabled-page-btn {
  opacity: 0.5;
  cursor: default;
}

#disabled-page-btn:hover {
  border: 2px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 600px) {
  .pagination-controls {
    column-gap: 15px;
    padding: 7px;
  }

  .pagination-controls>button {
    padding: 5px 12px 5px 12px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 450px) {
  .pagination-controls {
    column-gap: 10px;
    padding: 5px;
  }

  .pagination-controls>button {
    padding: 5px 10px 5px 10px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 370px) {
  .pagination-controls {
    column-gap: 8px;
  }

  .pagination-controls>button {
    padding: 5px 8px 5px 8px;
    font-size: 11.5px;
  }
}

@media only screen and (max-width: 320px) {
  .pagination-controls {
    column-gap: 5px;
  }

  .pagination-controls>button {
    padding: 6px;
    font-size: 11.5px;
  }
}