@import "./../variables.scss";

.quiz-cover-image {
  border-radius: 10px;
  position: relative;
}

.quiz-card-content {
  padding: 100px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.1) 80%);
  border-radius: 10px;
  width: 500px;
  max-width: 500px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.quiz-card-options {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.quiz-card-edit {
  text-decoration: none;
  background-color: $light-blue;
  border: 2px solid $light-blue;
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: 3px 7px 3px 7px;
  font-size: 12px;
}

.quiz-card-edit:hover {
  background-color: white;
  color: $light-blue;
}

.quiz-card-delete {
  font-size: 12px;
  border-radius: 5px;
  padding: 3px 7px 3px 7px;
  border: 0px;
  background-color: $danger-red;
  border: 2px solid $danger-red;
  color: white;
  cursor: pointer;
}

.quiz-card-delete:hover {
  color: $danger-red;
  background-color: white;
}

.quiz-card-name {
  font-size: 20px;
  font-weight: 900;
}

.quiz-card-time, .quiz-card-user {
  font-size: 12px;
  text-decoration: none;
}

.quiz-card-start {
  text-decoration: none;
  padding: 3px 15px 3px 15px;
  border-radius: 5px;
  background-color: $green;
  border: 3px solid $green;
  font-size: 20px;
  font-weight: 900;
  width: fit-content;
}

.quiz-card-start:hover {
  background-color: white;
  color: $green;
}

.quiz-card-desc-btn {
  width: 100%;
  font-size: 15px;
  padding: 5px 0 5px 0;
  color: white;
  background-color: $light-blue;
  border: 3px solid $light-blue;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-card-desc-btn:hover {
  background-color: white;
  color: $light-blue;
}

.quiz-card-desc {
  font-size: 13px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .quiz-card-content {
    padding: 80px 10px 10px 10px;
    width: 450px;
    row-gap: 12px;
  }

  // .quiz-card-edit, .quiz-card-delete {
  //   padding: 3px 7px 3px 7px;
  //   font-size: 12px;
  // }

  .quiz-card-name {
    font-size: 18px;
  }

  // .quiz-card-time,
  // .quiz-card-user {
  //   font-size: 12px;
  // }

  .quiz-card-start {
    padding: 3px 12px 3px 12px;
    font-size: 18px;
  }

  // .quiz-card-desc-btn {
  //   font-size: 15px;
  //   padding: 5px 0 5px 0;
  // }

  // .quiz-card-desc {
  //   font-size: 13px;
  // }
}

@media only screen and (max-width: 470px) {
  .quiz-card-content {
    width: 400px;
    row-gap: 10px;
  }

  .quiz-card-name {
    font-size: 16px;
  }

  .quiz-card-start {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .quiz-card-content {
    width: 350px;
    row-gap: 10px;
  }

  .quiz-card-edit, .quiz-card-delete {
    font-size: 11px;
  }

  .quiz-card-name {
    font-size: 17px;
  }

  .quiz-card-start {
    font-size: 17px;
  }

  .quiz-card-desc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 360px) {
  .quiz-card-content {
    padding: 70px 8px 8px 8px;
    width: 300px;
  }

  .quiz-card-name {
    font-size: 16px;
  }

  .quiz-card-start {
    padding: 3px 10px 3px 10px;
    font-size: 16px;
  }

  .quiz-card-desc-btn {
    font-size: 13px;
  }

  .quiz-card-desc {
    font-size: 11px;
  }
}

@media only screen and (max-width: 310px) {
  .quiz-card-content {
    width: 225px;
  }

  .quiz-card-edit, .quiz-card-delete {
    padding: 3px 5px 3px 5px;
    font-size: 11px;
  }

  .quiz-card-name {
    font-size: 15px;
  }

  .quiz-card-time,
  .quiz-card-user {
    font-size: 12px;
  }

  .quiz-card-start {
    padding: 3px 8px 3px 8px;
    font-size: 15px;
  }

  .quiz-card-desc-btn {
    font-size: 12px;
  }

  .quiz-card-desc {
    font-size: 10px;
  }
}